<!doctype html>
<html>
  <head>
    <title>rule</title>
  </head>
  <body>
    <h3>1. 共有倉庫の物はとってよい</h3>
    <h3>2. サーバー間を移動するときは/server server名を使うこと</h3>
    <p>現在あるサーバーはlobby,survival,creative,kanchanです,くわしくはロビー鯖の看板をご覧ください</p>
    <p>サバイバルサーバーに入った状態で/mvtp sigenすると資源ワールドにいけます</p>
    <p>帰るときは/mvtp worldです</p>
    <h3>3. discordサーバーに活発に参加すること</h3>
    <h3>4. ハックは禁止はしませんが、見つからない程度にやってください</h3>
    <h3><font color="red">5. 嵐はだめです</font></h3>
    <p><a href="index.html">トップページに戻る</a></p>
  </body>
</html>